body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #bfd1d3;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  transition: background 0.5s ease;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  align-items: center;
  width: 400px;
  max-width: 100%;
}

.search-input {
  padding: 10px;
  font-size: 0.9rem;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 5px 0 0 5px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.search-button {
  padding: 10px 15px;
  font-size: 0.9rem;
  background-color: #8ab9ce;
  color: white;
  border: 1px solid #ddd;
  border-radius: 0 5px 5px 0;
  border-left: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #0288d1;
}

/* Suggestions */
.suggestions-list {
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: rgba(200, 200, 200, 0.5);
}

/* Weather section */
.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-top: 40px;
  width: 200px;
}

.weather-icon {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.city-name {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 5px;
  margin-top: 5px;
}

.temperature {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  margin-top: 5px;
}

.description {
  font-size: 1.2rem;
  color: #444;
  margin-bottom: 5px;
  margin-top: 5px;
  text-transform: capitalize;
}

.temp-range {
  font-size: 1rem;
  color: #666;
  display: flex;
  justify-content: space-between;
  width: 120px;
}

.temp-high,
.temp-low {
  font-weight: bold;
}

/* Recent Searches */
.recent-searches {
  margin-top: 40px;
  width: 80%;
}

.recent-searches-label {
  font-size: 0.8rem;
  color: white;
  margin-bottom: 10px;
  text-align: center;
}

.recent-searches-grid {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.recent-search-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 28%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.recent-search-item:hover {
  transform: scale(1.05);
  background-color: rgba(200, 200, 200, 0.3);
}

.recent-weather-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.recent-search-info {
  display: flex;
  flex-direction: column;
}

.recent-search-info p {
  margin-bottom: 2px;
  margin-top: 2px;
}

.recent-city-name {
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
}

.recent-temp {
  font-size: 0.9rem;
  color: #444;
}

.recent-description {
  font-size: 0.8rem;
  color: #666;
  text-transform: capitalize;
}

:is(.night-clear, .day-cloudy, .night-cloudy) .recent-city-name,
:is(.night-clear, .day-cloudy, .night-cloudy) .recent-temp,
:is(.night-clear, .day-cloudy, .night-cloudy) .recent-description,
:is(.night-clear, .day-cloudy, .night-cloudy) .recent-searches-label,
:is(.night-clear, .day-cloudy, .night-cloudy) .city-name,
:is(.night-clear, .day-cloudy, .night-cloudy) .temperature,
:is(.night-clear, .day-cloudy, .night-cloudy) .description,
:is(.night-clear, .day-cloudy, .night-cloudy) .temp-range,
:is(.night-clear, .day-cloudy, .night-cloudy) .search-input {
    color: white;
}

@media (max-width: 768px) {
  .weather h2 {
    font-size: 2rem;
  }

  .weather p {
    font-size: 1.2rem;
  }

  .recent-searches h2 {
    font-size: 1.5rem;
  }

  .weather-card {
    width: 90%;
    max-width: 200px;
  }

  .recent-searches {
    margin-top: 20px;
    width: 90%;
  }

  .recent-search-item {
    width: 90%;
    margin-bottom: 10px;
  }

  .search-container {
    width: 90%;
  }

  .input-container {
    width: 100%; /* Make the container 100% of the parent width */
  }

  .search-input {
    font-size: 0.8rem; /* Slightly reduce font size */
    padding: 8px; /* Adjust padding for smaller screens */
  }

  .search-button {
    padding: 8px 12px; /* Adjust button padding */
    font-size: 0.8rem; /* Reduce button font size */
  }
}

.day-clear {
  background: linear-gradient(to bottom, #2980b9, #6dd5ed);
}
.night-clear {
  background: linear-gradient(to bottom, #2c3e50, #34495e);
}

.day-cloudy {
  background: linear-gradient(to bottom, #bdc3c7, #2c3e50);
}
.night-cloudy {
  background: linear-gradient(to bottom, #34495e, #2c3e50);
}

.rainy {
  background: linear-gradient(to bottom, #2c3e50, #bdc3c7);
}

.snowy {
  background: linear-gradient(to bottom, #ecf0f1, #bdc3c7);
}

.default {
  background: linear-gradient(to bottom, #3498db, #ecf0f1);
}

@media (hover: none) {
  .recent-search-item:hover {
    transform: none;
    background-color: transparent;
  }
}
