body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #bfd1d3;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  color: white;
}

/* Input and Button Container */
.input-container {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 1.2rem;
  width: 100%;
  max-width: 300px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #03a9f4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: rgba(3, 169, 244, 0.8);
}

button:hover {
  background-color: rgba(2, 136, 209, 0.9);
}

/* Suggestions */
.suggestions-list {
  list-style-type: none;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  position: absolute;
  margin-top: 0;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: rgba(200, 200, 200, 0.5);
}

/* Weather section */
.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(181, 176, 176, 0.3);
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.weather-icon {
  font-size: 5rem;
  margin: 20px 0;
}

.weather h2 {
  font-size: 2.5rem;
  color: white;
}

.weather p {
  font-size: 1.5rem;
  margin: 10px 0;
  color: white;
}

/* Recent Searches */
.recent-searches {
  margin-top: 40px;
}

.recent-searches h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: white;
}

.recent-searches ul {
  list-style-type: none;
  padding: 0;
}

.recent-searches li {
  font-size: 1.2rem;
  margin: 5px 0;
  color: white;
}

.recent-searches li span {
  font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  input[type="text"] {
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
  }

  .weather h2 {
    font-size: 2rem;
  }

  .weather p {
    font-size: 1.2rem;
  }

  .recent-searches h2 {
    font-size: 1.5rem;
  }
}
